extends layout

block content
    h1 About bathroAm
    p We have all seen restaurants with a sign on their door that says “bathroom only for customers” or something to that effect. BathroAm was designed for the others, the restaurants who want to throw their doors open and welcome you in. 