extends layout

block content
    div(class="jumbotron")
        div(class="container text-center")
            h1 bathroAm
    h1 Where would you like to roam?
    form(method='POST' action='/')
        div(class="form-group")
            input(type='text', class="form-control", name='address', placeholder='Address')
        div(class="form-group")
            input(type='number', class="form-control", name='threshold', placeholder='Within (km)')
        div(class="form-group")
            label(for="Time") Time:
            input(type='time', class="form-control", name='time')
        div(class="form-group")
            select(name='weekday', class="form-control")
                option -- Weekday --
                option(value='mon') Monday
                option(value='tue') Tuesday
                option(value='wed') Wednesday
                option(value='thur') Thursday
                option(value='fri') Friday
                option(value='sat') Saturday
                option(value='sun') Sunday
        button(type='submit', class="btn btn-primary") Submit