extends layout

block content
    h1 Where would you like to roam?
    form(method='POST' action='/')
        div
            label(for='address') Address:
            input(type='text', name='address', style='margin-left: 10px;')
        div
            label(for='threshold') Within (km):
            input(type='number', name='threshold', style='margin-left: 10px;')
        div
            label(for='time') Time:
            input(type='time', name='time', style='margin-left: 10px;')
        p
        button(type='submit') Submit