extends layout

block content
    h1 Where would you like to roam?
    input(type='text')

    //- get input
    //-figure out how to render new once get input
    //-have to be prepared for the possibility of them typing a neighborhood or address...