extends layout

block content
    h1 Add a new restaurant
    a(href='/inputform/edit') or edit an existing one
    p
    form(method='POST' action='/inputform/create')
        div(class="form-group")
            input(type='text', class="form-control", name='name', placeholder='Name')
        div(class="form-group")
            select(name='status', class="form-control")
                option -- Status --
                option(value=true) Participating
                option(value=false) Not participating
        div(class="form-group")
            select(name='neighborhood', class="form-control")
                option -- Neighborhood --
                option(value='Kreuzberg') Kreuzberg
                option(value='Mitte') Mitte
                option(value='Prenzlauer Berg') Prenzlauer Berg
                option(value='Charlottenburg') Charlottenburg
                option(value='Friedrichshain') Friedrichshain
                option(value='Moabit') Moabit
                option(value='Schoneberg') Schöneberg
                option(value='Neukolln') Neukölln
        div(class="form-group")
            input(type='text', class="form-control", name='address', placeholder='Address')
        div(class="form-group")
            input(type='text', class="form-control", name='website', placeholder='Website')
        div(class="form-group")
            label(for='weekday') Open days:
            select(name='weekday', multiple class="form-control")
                option -- drag to select multiple days --
                option(value='mon') Monday
                option(value='tue') Tuesday
                option(value='wed') Wednesday
                option(value='thur') Thursday
                option(value='fri') Friday
                option(value='sat') Saturday
                option(value='sun') Sunday
        div(class="input-group")
            span(class="input-group-addon") Open from:
            input(type='time', class="form-control", name='timeFrom1')
            span(class="input-group-addon") to
            input(type='time', class="form-control", name='timeTo1')
        br
        div(class="panel-group")
            div(class="panel panel-default")
                div(class="panel-heading")
                    div(class="panel-title")
                        a(data-toggle="collapse" href="#collapse1") Add a second time slot (optional)
                div(id="collapse1" class="panel-collapse collapse")
                    div(class="panel-body") 
                        div(class="input-group")
                            span(class="input-group-addon") Open from:
                            input(type='time', class="form-control", name='timeFrom2')
                            span(class="input-group-addon") to
                            input(type='time', class="form-control", name='timeTo2')
                            select(name='confirmation', class="form-control")
                                option -- Are you sure? --
                                option(value=true) Confirm
                                option(value=false) Disable
        br
        button(type='submit', class="btn btn-primary") Submit

