extends restaurant

block primary   
    if participants.length
        table(class="table")
            thead(class="thead-dark")
                tr
                    th(scope="col") Name
                    th(scope="col") Neighborhood
            tbody
                each participant in participants
                    tr
                        td 
                            a(href='/restaurant/'+participant.id) #{participant.name}
                        td #{participant.neighborhood} 

        //- pre= JSON.stringify(participants, null, 2)
    else
        p We are still recruiting restaurants. Contact us if you would like to be part of BathroAm! 
    script.
        console.log(!{JSON.stringify(participants)})