extends restaurant

block primary   
    if participants.length
        table
            thead
                td Name
                td Neighborhood
            each participant in participants
                tr
                    td #{participant.name}
                    td #{participant.neighborhood} 

        pre= JSON.stringify(participants, null, 2)
    else
        p We are still recruiting restaurants. Contact us if you would like to be part of BathroAm! 
    script.
        console.log(!{JSON.stringify(participants)})

//- - figure out how to link indiv restaurant names to their detail page