extends restaurant

block primary
    p
    each set, index in restosByNeighborhood
        p 
            strong #{neighborhoods[index]}
        ul
            each resto in set
                li 
                    a(href='/restaurant/'+resto.id) #{resto.name}