extends layout

block content     
    h1 Participating restaurants:
    p
    p
    ul(class="nav")
        li(class="nav-item")
            a(class="nav-link active", href='/restaurant/all') List alphabetically
        li(class="nav-item")
            a(class="nav-link active", href='/restaurant/all/by_neighborhood') List by neighborhood
    p 
    block primary      